@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
/* Inicio do estilo site Index */
body{
    margin: 0;
}
html{
    background-image: url(imagens/globo1.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header{
    height: 18vh;
    background-color: rgba(0, 0, 0, 0.904);
}
ul li a{
    margin: 0;
    padding: 0;
}
/* inicio das configurações do logo e sua mecânica */
.logo{
    height: 18vh;
    width: 60vw;
    margin-left: 20vw;
    align-items: center;
    justify-content: center;
    display: flex;
}
.logo img{
    
    transition-duration: 0.5s;
    transform: scale(1.0);
}
.logo img:hover{
    transition-duration: 0.5s;
    transform: scale(0.9);
}
/* inicio da construção da subnav e menu */

.subNav{
    height: 8.5vh;
    background-color:rgba(78, 78, 78, 0.808);
    align-items: center;
    justify-content: center;
    display: flex;
}
.subNav ul li{
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
}
.subNav ul li:hover{
    color: rgb(243, 145, 17);
    cursor: pointer;
}
.livroIconePosition{
    position:absolute; 
    transition: 0.5s;
    transition-duration: 0.5s;
    justify-content: center;
    align-items: center;
}
.livroIconePosition img{
    width: 60px;
}
.livroIconePosition:hover{
 transition: 0.5s;
 transition-duration: 0.5s;
 transform: scale(1.3);
}

/* espaçamento */
.divBar{
    margin-left: 10px;
    margin-right: 10px;
    animation: normal;
    animation-direction: initial;
    animation-duration: 400ms;

}
.divBar li a{
    color: rgb(255, 166, 0);
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Trebuchet MS'; 
    font-weight: 900;
    display: inline;
}
.divBar li a:hover{
    color: rgb(255, 255, 255);
}
/* construção do conteúdo */
.allScreen{
    height: auto;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}
.idbox{
    border-radius: 20px;
    width: 30vw;
    margin: 3%;
    background-color: rgba(0, 0, 0, 0.801);
    text-align: center;

}
.cadastrese{
    text-align: center;
    font-family: 'Righteous';
    font-size: 150%;
    color: orange;
    background-color: rgba(0, 0, 0, 0.582);
    width: 20vw;
    margin: auto;
    margin-top: 5vh;
}
input{
    width: 20vw;
    background-color: rgba(0, 0, 0, 0);
    color: orange;
    font-weight: 700;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: double;
    padding: 6px;
    transition: 0.5s;
    transition-duration: 0.5s;
    outline: none;
    margin-top: 5%;
    text-align: center;
}
::-webkit-input-placeholder{
    color:rgba(255, 166, 0, 0.514);
    text-align: center;
    font-weight: 500;
}
input:hover{
    background-color: rgba(255, 166, 0, 0.253);
    transition: 0.5s;
    transition-duration: 0.5s;

}
label{
    color: orange;
    padding: 1%;
    font-family: 'Trebuchet MS';
}
select{
    color: orange;
    outline: none;
    padding: 1%;
    border-radius: 20px;
    font-family: 'Trebuchet MS';
}
option{
    text-align: center;
}
.confirmar{
    border-radius: 20%;
    border: solid 2px;
    color: orange;
    

}





/* inicio footer */
footer{
    height:auto;
    background-color:rgba(78, 78, 78, 0.808);
    width: 100%;
    display: flex;
}
/* tamanho dos icones */
.redesocial img{
    width: 5vw;
    display: list-item;

}
.footerconteudo{
    text-align: center;
    align-items: center;
    display: flex;
}
.maps iframe{
width: 30vw;
height: 40vh;
border: solid black;
margin: 5px;
}

/* style scrollBar */
::-webkit-scrollbar{
    width: 0.6vw;
    background-color: rgb(78, 78, 78);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(243, 145, 17, 0.60);
}
::-webkit-scrollbar-button{
    background-color: rgb(31, 31, 31);
}