@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
/* Inicio do estilo site Index */
body{
    margin: 0;
}
html{
    background-image: url(imagens/studyGroup.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
header{
    height: 18vh;
    background-color: rgba(0, 0, 0, 0.904);
}
ul li a{
    margin: 0;
    padding: 0;
}
/* inicio das configurações do logo e sua mecânica */
.logo{
    height: 18vh;
    width: 60vw;
    margin-left: 20vw;
    align-items: center;
    justify-content: center;
    display: flex;
}
.logo img{
    
    transition-duration: 0.5s;
    transform: scale(1.0);
}
.logo img:hover{
    transition-duration: 0.5s;
    transform: scale(0.9);
}
/* inicio da construção da subnav e menu */

.subNav{
    height: 8.5vh;
    background-color:rgba(78, 78, 78, 0.808);
    align-items: center;
    justify-content: center;
    display: flex;
}
.subNav ul li{
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
}
.subNav ul li:hover{
    color: rgb(243, 145, 17);
    cursor: pointer;
}
.livroIconePosition{
    position:absolute; 
    transition: 0.5s;
    transition-duration: 0.5s;
    justify-content: center;
    align-items: center;
}
.livroIconePosition img{
    width: 60px;
}
.livroIconePosition:hover{
 transition: 0.5s;
 transition-duration: 0.5s;
 transform: scale(1.3);
}

/* espaçamento */
.divBar{
    margin-left: 10px;
    margin-right: 10px;
    animation: normal;
    animation-direction: initial;
    animation-duration: 400ms;

}
.divBar li a{
    color: rgb(255, 166, 0);
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Trebuchet MS'; 
    font-weight: 900;
    display: inline;
}
.divBar li a:hover{
    color: rgb(255, 255, 255);
}
/* construção do conteúdo */
.allScreen{
    height: auto;
    min-height: 80vh;
}
/* caixa de login */
.loginBox{
    border-radius: 20px;
    height: 60vh;
    width: 25vw;
    float: right;
    margin: 3%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.301);
}
input{
    width: 20vw;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: double;
    padding: 6px;
    transition: 0.5s;
    transition-duration: 0.5s;
    outline: none;
    margin-top: 5%;
    text-align: center;
}
::-webkit-input-placeholder{
    color:rgba(255, 166, 0, 0.514);
    text-align: center;
    font-weight: 500;
}
input:hover{
    background-color: rgba(255, 166, 0, 0.253);
    transition: 0.5s;
    transition-duration: 0.5s;

}
button{
background-color: rgba(0, 0, 0, 0);
border-style: none;
border-bottom:solid 1px orange;
color: orange;
font-size: 100%;
font-weight: 500;
padding: 1.5vh 4vw;
transition: 0.5s;
transition-duration: 0.5s;
outline: none;
cursor: pointer;
margin-top: 5vh;
}
button:hover{
background-color: orange;
border: orange;
color: white;
border-bottom: solid 1px rgb(255, 255, 255);
transition: 0.5s;
transition-duration: 0.5s;
}
.divlinkSenha{
    margin: 5vh;
}
.linkSenha{
    color: orange;
    font-size: 110%;
}
h2{
    text-align: center;
    font-family: 'Righteous';
    font-size: 150%;
    color: orange;
    background-color: rgba(0, 0, 0, 0.582);
    width: 20vw;
    margin: auto;
    margin-top: 5vh;
}
/* final loginbox */

/* inicio slideshow */

.carrossel{
    border:solid 2vw rgba(0, 0, 0, 0.548);
    width: 50vw;
    height: 60vh;
    float: left;
    margin-top: 4%;
    margin-left: 6%;
}
.carrossel img{
    width: 100%;
    height: 100%;
}
/* final slideshow */
/* inicio sobre nós */

.divisoria{
    border:solid 2vh rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.699);
    height: 8vh;
    display: flex;
    font-family: 'Righteous';
    font-size: 250%;
    color: orange;
    justify-content: center;

}
.video{
    border:solid 2vw rgba(0, 0, 0, 0.548);
    width: 50vw;
    height: 60vh;
    margin-top: 2%;
    margin-left: 20vw;
    margin-bottom: 2%;
}
.sobreNos{
    border-radius: 20px;
    height: 55vh;
    width:90%;
    float: left;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.801);
    font-family: 'Righteous';
    font-size: 190%;
    color: orange;
    align-items: center;
    margin-left: 5%;
    margin-top: 5vh;
    padding: 1%;
}
.patrocinadores{
    border-radius: 20px;
    height: auto;
    width:90%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.801);
    font-family: 'Righteous';
    font-size: 190%;
    color: orange;
    align-items: center;
    margin-left: 5%;
    margin-top: 5vh;
    margin-bottom: 2%;
}
.idpat img{
    width: 25%;
    height: 25%;
}
.dash{
    border-radius: 20px;
    height: 55vh;
    width:90%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.801);
    font-family: 'Righteous';
    font-size: 190%;
    color: orange;
    align-items: center;
    margin-left: 5%;
    margin-top: 5vh;
    margin-bottom: 2%;
}

.buttoncad{
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-bottom:solid 1px orange;
    color: orange;
    font-size: 100%;
    font-weight: 500;
    transition: 0.5s;
    transition-duration: 0.5s;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 1%;
    right: 1%;
}
.buttoncad:hover{
    background-color: orange;
    border: orange;
    color: white;
    border-bottom: solid 1px rgb(255, 255, 255);
    transition: 0.5s;
    transition-duration: 0.5s;
}

/* inicio footer */

footer{
    display: flex;
    height: auto;
    background-color:rgba(78, 78, 78, 0.808);
}
.maps iframe{
width: 30vw;
height: 30vh;
border: solid black;
float: right;
margin: 5px;
}
/* style scrollBar */
::-webkit-scrollbar{
    width: 0.6vw;
    background-color: rgb(78, 78, 78);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(243, 145, 17, 0.60);
}
::-webkit-scrollbar-button{
    background-color: rgb(31, 31, 31);
}