
/* Inicio do estilo site Index */
body{
    margin: 0;
}
html{
    background-image: url(imagens/studyGroup.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header{
    height: 18vh;
    background-color: rgba(0, 0, 0, 0.904);
}
.logo{
    height: 18vh;
    width: 60vw;
    margin-left: 20vw;
    align-items: center;
    justify-content: center;
    display: flex;
}
.logo img{
    transition: 0.5s;
    transition-duration: 0.5s;
    transform: scale(1.0);
}
.logo img:hover{
    transition-duration: 0.5s;
    transform: scale(0.9);
}
.subNav{
    height: 8.5vh;
    background-color:rgba(78, 78, 78, 0.808);
    align-items: center;
    justify-content: center;
    display: flex;
}
.subNav ul li{
    color: black;
    text-decoration: none;
    list-style-type: none;
    transition-duration: 0.5s;
    transition: 0.5s;
}
.subNav ul li:hover{
    color: rgb(243, 145, 17);
    transition-duration: 0.5s;
    transition: 0.5s;
    transform: scale(1.3);
    cursor: pointer;
}
.allScreen{
    height: auto;
    min-height: 80vh;
}
.loginBox{
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
    height: 60vh;
    width: 25vw;
    float: right;
    margin: 3%;
}
h2{
    text-align: center;
    font-family: 'Trebuchet MS';]
    /* terminar */
}
.carrossel{
    display: flex;
    border:solid 5px;
    flex-direction: column;
    background-color: blueviolet;
    padding: 10%;
}
footer{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20vh;
    background-color:rgba(78, 78, 78, 0.808);
}
/* style scrollBar */
::-webkit-scrollbar{
    width: 0.6vw;
    background-color: rgb(78, 78, 78);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(243, 145, 17, 0.60);
}
::-webkit-scrollbar-button{
    background-color: rgb(31, 31, 31);
}