body{
  margin: 0;
  padding: 0;
  border: 0;
}
.allScreen{
    background-image: linear-gradient(to bottom right, rgb(64, 185, 255), rgb(190,230,255),rgb(230, 255, 255), white,rgb(230, 255, 255), rgb(190,230,255), rgb(64, 185, 255));
    height: 100vh;
    width: 100vw;
    
}
.rsocial img{
    width: 3vw;
    float: left;
}
.bordaId{
    border:solid 5px;
    color: rgb(0, 0, 130);
    border-left: none;
    padding-top:5.5vh;
}
.talm{
    font-size: 300%;
    font-family: 'Trebuchet MS';
    color: rgb(0, 0, 130);
    
}
.id{
    font-size: 400%;
    font-family: 'Trebuchet MS';
    font-weight: 900;
    color: orange;
}
p{
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0%;
    width: 100%;
    font-family: 'Trebuchet MS';
    font-size: 130%;
    text-align: center;
    font-weight: 900;
    margin-bottom: -3vh;
}
li{
    display: inline-block;
    padding: 1vh 2vw;
}
.menubar{
    margin-right: 8vw;
}
.entrar{
    float: right;
    margin-left: -8vw;
}
#menu a{
    text-decoration: none;
    color: orange;
}
#menu a:hover{
    color: rgb(0, 0, 130);
}
h2{
    font-family: 'Trebuchet MS';
    font-size: 250%;
    color: rgb(33, 46, 165);
    margin-bottom: 0vh;
    text-align: center;
    margin-top: auto;
}
.qual{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(33,46,165);
    text-align: center;
    display: grid;
}
.checkBox{
    border:none;
    border-radius: 10000000000vw;
    padding: 1vw;
    font-family: 'Trebuchet MS';
    font-size: 1.5vw;
    font-weight: 700;
    color: rgb(33, 46, 165);
    background-color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;

}
.cadastrar{
    margin-top: 7vh;
}
.cadastrar .botaocad{ 
    font-size: 200%;
    font-family: 'Trebuchet MS';
    font-weight: 900;
    text-decoration: orange;
    color: rgb(33, 46, 130);
}
.cadastrar .botaocad:hover{
    color: orange;
    text-decoration: underline;
}
.borda{
    /* Borda de cadastro */
    border:solid 2px;color: rgb(33, 46, 165);
    border-radius: 3vw;
    padding: 5vh 2vw;
    text-align: center;
    height: 40vh;
    width: 30vw;
    margin: auto;
}